@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: fredoka-medium;
  box-sizing: border-box;
}

@font-face {
  font-family: fredoka-medium;
  src: url(/public/fonts/Fredoka-Medium.ttf);
}

.board {
  display: table;
  aspect-ratio: 1 / 1; 
  width: 450px;  
  /* width: 100%; */
  height: 100%;
}



.board-row {
  display: table-row;
  width: 100%;
  height: 33%;
}

.square {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-family: fredoka-medium;
  font-weight: bold;
  width: 33.33%;
  height: 100%;
}

/* Horizontal lines */
.square[id="0"]::before,
.square[id="3"]::before {
  border: 4px solid #000;
  border-radius: 4px 0px 0px 4px;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  z-index: 2;
}

.square[id="2"]::before,
.square[id="5"]::before {
  border: 4px solid #000;
  border-radius: 0px 4px 4px 0px;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  z-index: 2;
}

.square[id="1"]::before {
  border: 4px solid #000;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  z-index: 2;
}

.square[id="4"]::before {
  border: 4px solid #000;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  z-index: 2;
}

/* Vertical lines */
.square[id="0"]::after,
.square[id="1"]::after {
  border: 4px solid #000;
  border-radius: 4px 4px 0px 0px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  z-index: 2;
}

.square[id="6"]::after,
.square[id="7"]::after {
  border: 4px solid #000;
  border-radius: 0px 0px 4px 4px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  z-index: 2;
}

.square[id="3"]::after,
.square[id="4"]::after {
  border: 4px solid #000;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  z-index: 2;
}

.winning-square {
  background: greenyellow;
  border-radius: 4px 4px 4px 4px;
}

.select-moves {
  border: 2px solid rgb(199, 201, 213);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.timetravel-button {
  border: 2px solid rgb(199, 201, 213);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.sort-button {
  border: 2px solid rgb(199, 201, 213);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
